{% extends "layout.html" %}
{% block title %}
    Index
{% endblock %}
    {% block main %}
        {% if table %}
        <table class="table tablestriped">
            <thead>
                <tr>
                    {% for col in cols %}
                    <th class="text-start">{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>

                    {% for key in table %}
                    <tr>
                        <td class="text-start">{{ key }}</td>
                        <td class="text-start">{{ table[key][0] }}</td>
                        <td class="text-end">{{ table[key][1] }}</td>
                        <td class="text-end">{{ table[key][2] | usd }}</td>
                        <td class="text-end">{{ table[key][3] | usd }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                    <td class="border-0 text-end">{{ cash | usd }}</td>
                </tr>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                    <td class="border-0 w-bold text-end">{{ liquidity | usd }}</td>
                </tr>
            </tfoot>
            </table>
        {% else %}
                    <h2>You have no shares.</h2>
        {% endif %}
{% endblock %}