{% extends "Gastos/layout.html" %}
{% load static %}
{% block body %}
    <div class="login_box">
        {% if message %}
        <div>{{ message }}</div>
        {% endif %}
        <img style="max-width: 8rem; " src="{% static 'Gastos/img/pngaaa.com-5628639.png' %}"/>
        <h2 style="text-align: center; font-size: 3rem;">Guitapp</h2>
        <form  action="{% url 'gastos:login' %}" method="post">
            <!--token de seguridad -->
            {% csrf_token%}
            <input type="text" name="username" placeholder="Nombre de usuario">
            <input type="password" name="password" placeholder="Contraseña">
            <input type="submit" value="Ingresar">
        </form>
        <div><a href="{% url 'gastos:register' %}">Crear cuenta</a></div>
    </div>
{% endblock %}